body {background-color: #4aaaa5;

}

.content { overflow: hidden;

					 
}

footer {background-color: gray;
				clear: both;
				padding: 10px;
				width: 100%;
				bottom: 0px;
				position: fixed;
				left: 0;


}

#foot {text-align: center;
				font-size: 12px;
				font-color: white;
}

.head-menu {background-color: #ffffff;
						border-color: #cccccc;
						position: fixed;
						left: 0;
						top: 0;
						width: 100%;



}

.name {font-size: 20px;
				background-color: #4aaaa5;
				margin-right: 650px;	
				margin-left: 150px;	
				margin-bottom: 0;	
				font: black;
				width: 15%;
				padding: 10px 0 25px 0;
				text-align: center;
				font-family: 'Georgia', Times, Times New Roman, serif;

}


.nav {position: absolute;
			right: 198px;
			top: 30px;

}

#about-me {background-color: gray;
			position: absolute;
			width: 560px;
			height: 400px;
			left: 0;
			margin: 40px 0 0 144px;

}

#image { height: 200px; 
					width: 200px;
					padding-left: 5px;
					padding-top: 10px;
					float: left;
}

.me {padding-left: 20px;
		font-family: 'Georgia', Times, Times New Roman, serif;

}


hr {width: 95%;

}


#connect-me {background-color: white;
						margin: 40px 180px 0 0;
						position: absolute;
						right: 0;
						width: 200px;
						text-align: center;
				
			
}

#logo {padding-top: 10px;
}

#background {background-image: url("./assets/images/purty_wood.png");
   					position: relative;
   					height: 500px;
   					width: 100%;
   					left: 0;
   					margin-top: 68px;

}


/* portfolio stylesheet */

#portfolio {background-color: gray;
			position: absolute;
			width: 470px;
			height: 560px;
			left: 0;
			margin: 20px 0 0 144px;
}

.port {padding-left: 20px;

}

#bio-image {height: 130px;
						width: 170px;
						position: relative;
						left: 0;
						padding-left: 40px;


}


/*.head-image {position: relative;
							padding-left: 15px;
							width: 350px;
							height: 150px;
							display: inline;

}

#over-image {position: absolute;
							top: 10;
							left: 5;
							width: 40px;

}
#over-image span { color: white; 
    		letter-spacing: -1px;  
   			padding: 10px;

}

#over-image span.spacer {padding: 0 5px;
						background: none;

}*/




/* contact form stylesheet */

#contact {background-color: gray;
			position: absolute;
			width: 550px;
			height: 450px;
			left: 0;
			margin: 40px 0 0 144px;
}

.con{padding-left: 20px;

}

.form {padding-left: 20px;
			
			
}

form input { 
    width: 400px;
    height: 30px;
    
}

button {background-color: white;
				border: 1px;
				width: 50px;
				height: 35px;
}

form textarea {width: 400px;

}



