body {background-color: #4aaaa5;

}

.content { overflow: hidden;

					 
}

footer {background-color: gray;
				clear: both;
				padding: 10px;
				width: 100%;
				bottom: 0px;
				position: fixed;
				left: 0;


}

#foot {text-align: center;
				font-size: 12px;
				font-color: white;
}

.head-menu {background-color: #ffffff;
						border-color: #cccccc;
						position: fixed;
						left: 0;
						top: 0;
						width: 100%;



}

.name {font-size: 20px;
				background-color: #4aaaa5;
				margin-right: 650px;	
				margin-left: 150px;	
				margin-bottom: 0;	
				font: black;
				width: 15%;
				padding: 10px 0 25px 0;
				text-align: center;

}


.nav {position: absolute;
			right: 198px;
			top: 30px;

}

#about-me {background-color: gray;
			position: absolute;
			width: 560px;
			height: 400px;
			left: 0;
			margin: 100px 0 0 150px;

}

#image { height: 200px; 
					width: 200px;
					padding-left: 5px;
					padding-top: 10px;
					float: left;
}

.me {padding-left: 20px;

}


hr {width: 95%;

}

#bio-image {height: 135px;
						width: 180px;
						padding: 5px 10px 10px 25px;
						margin: 0px 0 5px 10px;


}

#connect-me {background-color: white;
						margin: 100px 180px 0 0;
						position: absolute;
						right: 0;
						width: 200px;
						text-align: center;
				
			
}

#logo {padding-top: 10px;
}

/*#background {background-image: url("./assets/images/purty_wood.png");
   					position: relative;
   					height: 470px;
   					width: 100%;
   					left: 0;
   					


}
*/

/* portfolio stylesheet */

#portfolio {background-color: gray;
			position: absolute;
			width: 480px;
			height: 580px;
			left: 0;
			margin: 100px 0 0 150px;
}

.port {padding-left: 20px;

}


/* contact form stylesheet */

#contact {background-color: gray;
			position: absolute;
			width: 550px;
			height: 450px;
			left: 0;
			margin: 100px 0 0 150px;
}

.con{padding-left: 20px;

}

.form {padding-left: 20px;
			
			
}

form input { 
    width: 400px;
    height: 30px;
    
}

button {background-color: green;
				border: 1px;
				width: 50px;
				height: 35px;
}

form textarea {width: 400px;

}



